<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
    <body>
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <div class="content">
                        Register new account
                    </div>
                </h2>
                <form action="#" th:action="@{/shop/register}" method="post" class="ui large form">
                    <div class="ui stacked secondary segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" th:name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" th:name="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="g-recaptcha" data-sitekey="6LeshX4UAAAAAPb-xE_GFD80WsYLnUZrHVF38ddf"></div>

                        <button class="ui button" type="submit">Register</button>
                    </div>

                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </body>
<style type="text/css">
    body > .grid {
        height: 100%;
    }

    .image {
        margin-top: -100px;
    }

    .column {
        max-width: 450px;
    }
</style>
</html>